.override-cursor,
.override-cursor * {
	cursor: url(icon.png) !important;
}

.tagger-overlay {
	display: block;
	height: 100px;
	left: 0%;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0%;
	width: 100px;
	z-index: 99999999;
}

.tagger-overlay:hover {
	background: rgba(255, 255, 255, 0.4);
}
